#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000000;
  width: 200px;
  height: 330px;
  border-radius: 12px;
  padding: 5px;
}

.red {
  color: #FF0000;
  }

.left {
  align-self: flex-start;
}

.middle {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.right {
  align-self: flex-end;
}