#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: green;
  max-width: 890px;
  padding: 15px;
  border: 15px solid brown;
  }

.card {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000000;
  width: 200px;
  height: 330px;
  border-radius: 12px;
  padding: 5px;
  background-color: white;
  box-shadow: 1px 1px black;
  font-size: 2rem;
}

.red {
  color: #FF0000;
}

.left {
  align-self: flex-start;
}

.middle {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  font-size: 6rem;
}

.right {
  align-self: flex-end;
}

.flipped {
  transform: rotate(180deg);
}