#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000000;
  width: 200px;
  height: 350px;
  border-radius: 12px;
}

.card_red {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000000;
  width: 200px;
  height: 350px;
  color: #FF0000;
  border-radius: 12px;
}

.left {
  align-self: flex-start;
  flex-direction: column;
}

.middle {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.right {
  align-self: flex-end;
}